%html
  %head
    %title Nid
    %link(type="text/css" rel="stylesheet" media="screen" href="/css/screen.css")
    %script(type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js")
    %script(type="text/javascript" src="/js/global.js")
  %body
    %div#wrap
      %header
        %h1
          %a(href="/") @remi
      #content
        =yield
      - if @side_users or @side_tags
        #sidebar
          .sidebar-inner
            - if @side_users
              %h2 Users
              %ul
                - @side_users.each do |user|
                  %li
                    %a(href="#{user.permalink}")
                      %span.link=user.username
                      %span.count="(#{user.mention_count})"
            - if @side_tags
              %h2 Tags
              %ul
                - @side_tags.each do |tag|
                  %li
                    %a(href="#{tag.permalink}")
                      %span.link="\##{tag.tag}"
                      %span.count="(#{tag.hashtag_count})"
    %footer
      %p
        © Copyright 2008-2010 Rémi Prévost
        %br
        Powered by
        %a(href="http://github.com/remiprev/nid") nid,
        %a(href="http://haml-lang.com") haml,
        %a(href="http://datamapper.org") datamapper,
        %a(href="http://sinatrarb.com") sinatra
        and
        %a(href="http://heroku.com") heroku.
